body {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.row {
	overflow: hidden;
}

.col {
	float: left;
}

.half {
	width: 48%;
}

.third {
	width: 31%;
	padding: 0 1%;
}

.quarter {
	width: 23%;
	padding: 0 1%;
}

#readout {
	margin-top: 1em;
}

li {
	margin-bottom: 2em;
	background-color: rgba(0, 0, 0, 0.03);
	padding: 1em;
}

label {
	color: rgba(0, 0, 0, 0.7);
}

.input {
	width: 94%;
	border: solid 1px rgba(0, 0, 0, 0.1);
	padding: 0.5em;
	font-size: 1.1em;
}

.input:focus {
	outline: solid 1px rgba(255, 0, 0, 0.1);
}